<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= movie.title %></title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/icon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <a href="/top" class="header-logo"><img src="/images/topKecil.png"></a>
            <a href="/watchlist" class="header-link">My Watchlist</a>
        </header>
        <div class="container">
            <div class="container-back">
                <a href="/search/<%= query %>/<%= pages %>" class="back-button">Back</a>
            </div>
            <ul class="table-body">
                <div class="movie-data">
                    <span class="name-column"><%= movie.title %></span>
                    <span class="img-column"><img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" onerror="this.onerror;this.src='/images/imageError.png'"></span>
                    <span class="description-column"><p><%= movie.overview %></p></span>
                    <span class="popularity-column">Popularity: <%= movie.popularity %></span>
                    <span class="release-column">Release Date: <%= movie.release_date %></span>
                    <span class="homepage-column">Homepage: <a href="<%= movie.homepage %>" target="_blank"><%= movie.homepage %></a></span>
                    <span class="genre-column">Genres: <%= movie.genres.map((genre) => {return genre.name}).join(', ') %> </span>
                </div>
                <div class="movie-menu">
                    <% if (!(watchList.map((watch) => {return watch.movie_id}).indexOf(movie.id) != -1)) { %>
                        <form action="/add/<%= movie.id %>" method="POST">
                            <input type="hidden" name="dir" value="/result/<%= query %>/<%= pages %>/<%= movie.id %>">
                            <input type="submit" value="+ Add to Watchlist">
                        </form>
                    <% } else { %>
                        <button type="button">&check; Added to Watchlist</button>
                    <% } %>
                </div>
            </ul>
        </div>
    </body>
</html>